body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5), /* Gradient overlay for dark effect */
        rgba(0, 0, 0, 0.5)
      ), url('/images/bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */

    
}
.container{
    flex:1rem;
   
    

   
}

.navbar{
    height: 5rem;
    background-color:rgb(227, 211, 172);
}

.logo-image{
    height: 4.5rem;
}

.fa-vault{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222  !important;
}


.f-info-links{
    text-decoration: none;
    color: #222222;
    width: 100%;
    vertical-align: middle;
}
.f-info-links:hover{
    text-decoration: underline;
  
}

.f-info{
    padding: 1rem;
    text-align: center;
    height:8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
}

/* // cards */

.card{
    border: none !important;
    margin-bottom: 2rem;


}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
   background-color: #fe424d !important; 
   border: none !important;
}

.show-btn{
    display: flex;
}

.review-container{
    background-color: rgb(209, 202, 182);
   
}